<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
</head>
<body>
    <h2>Contact Me</h2>
    <form method="POST" action="/contact">
        <input type="text" name="name" placeholder="Manjula" required><br><br>
        <input type="email" name="email" placeholder="manjulak8993@gmail.com" required><br><br>
        <textarea name="message" placeholder="I'd love to hear from you regarding projects,collaborations, or oppurtunities" rows="5" required></textarea><br><br>
        <button type="submit">Send</button>
    </form>
</body>
</html>